

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

body {
  background-color:#white;
}

h1 {
  color: black;
  font-size: 5vh;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}

h2 {
  color:black;
  font-size: 2em;
  font-family:Arial;
  font-weight:bold;
}

.input

.main {
  margin-top:5px;
  font-weigth:300;
  font-size: 3vh;
  color: white;
  font-style:italic;
  width: 30vw;
  font-family: 'Raleway', sans-serif;
}

#mainInput {
  background-color: #gray;
  color: black;
  border:none;
  width: 85vw;
  height: 5vh;
  font-size: 4vh;
  padding: 1%;
  border: 1px solid gray;
   font-family: 'Raleway', sans-serif;
}

#mainInput:focus { color: black; outline:none; }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #gray;
  opacity: 1; /* Firefox */
}


#submitButton {
  background-color:white;
  border: 1px solid gray;
  color:gray;
  font-family:arial;
  outline:none;
  height: 7vh;
  width:20vh;
}

#submitButton:hover {
  background-color:black;
    color:white;
}


#scales {
  background-color:white;
  border: 1px solid gray;
  color:gray;
  font-family:arial;
  outline:none;
  height: 7vh;
  width:20vh;
}

